
<link rel="stylesheet" href=" {{ url_for('static', filename='sobre.css')}}" />
  
<nav>
  <ul>
    <li><a href="#sessao1">Sessão 1</a></li>
    <li><a href="#sessao2">Sessão 2</a></li>
    <li><a href="#sessao3">Sessão 3</a></li>
    <li><a href="#sessao4">Sessão 4</a></li>
    <li><a href="/">voltar</a></li>
  </ul>
</nav>


<section id="sessao1">
<iframe class="video" src="https://www.youtube.com/embed/dEINMIjAmMg?si=Th4u9twWGisLfIA3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br></br>
</section>

<section id="sessao2">
  <img class="receita" src="/static/img/receita1.jpeg"></img>
</section>

<section id="sessao3">
  <img class="receita" src="/static/img/receita2.jpeg"></img>
</section>

<section id="sessao4">
  <img class="receita" src="/static/img/receita3.jpeg"></img>

</section>
<footer>andrecorreiadev &copy</footer>
